<!--
info_animal: Página que mostra os animais cadastrados. Exibe uma lista de todos os animais com informações básicas.
-->
{% extends "global/layout_base.html" %}
{% block title %}- animais{% endblock title %}
{% block content %}

<div class="container-global">


    <div class="table-container">
        <table class="table-color table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Peso</th>
                    <th>Sexo</th>
                    <th>Idade</th>
                    <th>Espécie</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for animal in animals %}
                <tr>
                    <td>{{ animal.animal_id }}</td>
                    <td>{{ animal.nome }}</td>
                    <td>{{ animal.peso_aproximado }}</td>
                    <td>{{ animal.sexo }}</td>
                    <td>{{ animal.idade_aproximado }}</td>
                    <td>{{ animal.especie }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "partials/pagination_animals.html" %}
</div>


{% endblock content %}
