<!--
header: Contém o cabeçalho do site, incluindo o título, logotipo e links de navegação. É parte do layout comum a todas as páginas.
-->
<div class="container-header-global">
    <div class="container-fontsize">
        
    <button onclick="decreaseFontSize()" class='btn-color-font'>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m40-200 210-560h100l210 560h-96l-51-143H187l-51 143H40Zm176-224h168l-82-232h-4l-82 232Zm384-16v-80h320v80H600Z"/></svg>
    </button>

    <button onclick="increaseFontSize()" class='btn-color-font'>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m40-200 210-560h100l210 560h-96l-51-143H187l-51 143H40Zm176-224h168l-82-232h-4l-82 232Zm504 104v-120H600v-80h120v-120h80v120h120v80H800v120h-80Z"/></svg>
    </button>
    </div>
<div class="container-header-global-right">
    
    <div class="container-header">
        
        
        <div class="container-header-button">
            
            <ul class="ul-header">
                <li class="img-btn"><a href="{{url_for('index')}}"><img src="{{url_for('static', filename="img/btn-color-centro-protecao-animal-logo-150.png")}}" alt="botão de logo"></a>
                </li>
                <li><a href="#" class="btn btn-primary btn-color">Castração</a></li>
                <li><a href="{{url_for('animais')}}" class="btn btn-primary btn-color">animais</a></li>
                <li><a href="{{ url_for('cadastro') }}" class="btn btn-primary btn-color">Cadastrar novo usuario </a></li>
                {% if request.path != url_for('login') %}
                <li><a href="{{ url_for('login') }}" class="btn btn-primary btn-color">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    </div>
    <div class="container-header-global-left">
    <div class="container-header-darkmode ">
        <button id="theme-switch" class="darkmode-btn img-btn">
            <img src="{{url_for('static', filename='img/cat-png-200px.png')}}" alt="darkmode-button">
            <img src="{{url_for('static', filename='img/dog-sitting.pdf.png')}}" alt="darkmode-button">

        </button>
    </div>
    </div>
    </div>
</div>
