<!-- Este é um comentário em HTML -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class='page-item btn-color-nav-init-end'>
            <a href="{{ url_for('index', page=1, search=search) }}">primeiro</a>
        </li>
        {% if page_start > 1 %}
            <li class='page-item btn-color-nav'>...</li>
        {% endif %}
        
        {% for page_num in range(page_start, page_end + 1) %}
            <li class='page-item btn-color-nav {% if page_num == tutores.page %}active{% endif %}'>
                <a href="{{ url_for('index', page=page_num, search=search) }}">{{ page_num }}</a>
            </li>
        {% endfor %}
        
        {% if page_end < total_pages %}
            <li class='page-item btn-color-nav'>...</li>
        {% endif %}
        
        <li class='page-item btn-color-nav-init-end'>
            <a href="{{ url_for('index', page=total_pages, search=search) }}">último</a>
        </li>
    </ul>
</nav>
