<!--
tutor: Página para cadastrar tutores. Permite que novos tutores sejam registrados no sistema, vinculando-os aos animais que cuidam.
-->
{% extends "global/layout_base.html" %}
{% block title %}
Cadastrar Tutor
 - 
{% endblock title %}



{% block content %}
      <div class="container-global-cadastro">
        <div class="container-cadastro-tutor">
          <form action="" method="POST">
            {{ tutores.hidden_tag() }}
            
                <div class="form-signin">
                <label class="form-label" for="inputName"> Nome</label>
                {{ tutores.nome(class='form-control', placeholder='Nome do tutor') }}

                <label class="form-label" for="inputTEL">Telefone</label>
                <input type="tel" class="form-control" id="inputTEL" name="tel" placeholder="(XX) X.XXXX-XXXX">
                
                <label class="form-label" for="inputCPF">CPF</label>
                <input type="text" class="form-control" id="inputCPF" name="cpf" placeholder="XXX.XXX.XXX-XX">
                

                <label class="form-label" for="inputEndereco">Endereço</label>
                {{tutores.endereco(class='form-control', placeholder='R. nome da rua, Bairro. nome do bairro')}}
                
              </div>
          
                <button class="btn btn-primary btn-block btn-color" type="submit">Cadastrar</button>
            
              <!-- Submit button -->
              
              </form>
          </div>
          <div class="container-cadastro-img">
            <img src="{{url_for('static', filename='img/tutor-cadastro-450-be.png')}}" alt="imagem de um tutor segurando um cachorro">
          </div>
 

         
          
              
    {% endblock content %}


