@charset "UTF-8";

:root{
  --azul-escuro: #21295C;
  --cinza-azulado: #6A6F92;
  --branco-acinzentado: #80ddddb7;
  --ylmn-blue:#464c77;
  --ultra-violet:#585E85;
  --cool-gray:#9B9FB6;
  --verde-escuro:#06363b; 
}

.container-global{
    
    width: 90%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-left: 20px;
    padding-right: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: #3a9ca538;
    overflow: hidden;

    }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;}}

.login-container{

    text-align: center;
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
    margin-top: 2em;}

.img-circular {
border-radius: 50%;
overflow: hidden;}

.container-login-form{
    max-width: fit-content;
    margin: 0 auto;
    margin-top: 3%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3a9ca538;
    border-radius: 5%;
}


.container-login-form .form-floating {
    margin-bottom: 10px;}

.btn-meu-css{
    background-color: var(--cinza-azulado);
    transition: background-color 0.3s ease;}
    


.container-header{
  background-color: var(--verde-escuro);
  margin: 0 auto;
  margin-top: 1%;
  max-width: 90%;
  padding: 2px;
  color: white;
  text-align: center;
  border-radius: 15px;
  }

.ul-header{
list-style: none;
padding-top:1%;
margin: auto;}

.ul-header li{
display: inline-block;
margin-right: 1%;}

.btn-color{
  background-color: var(--verde-escuro);
  border: none;
  font-size: 20px;
  transition: background-color 0.7s ease;}

.btn-color:hover{
  background-color: var(--branco-acinzentado);
}

body{
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.background-default{
  background-image:  url('../img/animal-land.png');
}

.background-login{
  background-image:  url('../img/wallpapers-no-shape.png');
}
.check-color{
  color: white;}

.container-login-contorno{
margin: auto;
border-radius: 30px;
width: 450px;}

.container-login-contorno h1{
  color: white;}

.table-container{
  padding-top: 3%;
  padding-bottom: 2%;
  text-align: center;
  margin: auto;
  max-width: 90%;
  border-radius: 10px;

  overflow-x: auto;}
  


.table-color{
  color: rgb(0, 0, 0);
  background-color: rgb(34, 119, 131);
  width: 100%;
  margin-bottom: 1rem;
  border-color: transparent
  }



.table-color th, .table-color td, .table-color thead th{
  border-color: transparent;
}

.table-color.table-bordered{
  border: 0;
}

.table-color.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(255, 255, 255);
}

.table-color > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  vertical-align: top;
  border-top: 1px solid;
}

.table-color > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 5px solid;
}

.table-color > tbody > tr > td {
  vertical-align: top;
  border-top: 2px solid ;
}


.img-btn{
 max-width: fit-content;
 max-height: fit-content;
}

.form-signin{
  gap: 5px;
}

.form-signin > * {
  margin-bottom: 10px; /* Adiciona um espaço de 5px entre cada elemento */
}


.container-cadastro-tutor{

  padding: 5px;
  max-width: 60%;
  border-radius: 20px;
  

}

.container-cadastro-img{

max-width: 40%;
border: 20px;

}

.container-cadastro-tutor, .container-cadastro-img{ 
  float: left; /* Faz com que as divs fiquem uma ao lado da outra */
  box-sizing: border-box; /* Inclui a largura da borda e do preenchimento no cálculo da largura */
  padding: 20px; /* Espaçamento interno para melhorar a visualização */
  width: 60%;
}
.container-global-cadastro{
    
  width: 90%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-left: 20px;
  padding-right: 50px;
  border-radius: 10px;
  text-align: center;
  background-color: #3a9ca5c5;
  overflow: hidden;

  }

  a{
    text-decoration: none;
    color: black;
    transition: color 0.5s ease;
  }

  a:hover{
    color: var(--branco-acinzentado);
  }


  .container-global-grid {
    display: flex;
    grid-gap: 20px; /* Remover o espaçamento entre as colunas */
    width: 90%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-left: 20px;
    padding-right: 50px;
    border-radius: 10px;
    background-color: #3a9ca549;
}

  .perfil-tutor{
    flex-basis: 40%;
    flex-grow: 1;
    border-radius: 10px;

  }

  .detalhamento-animal{
    flex-basis: 60%;
    flex-grow: 1;
        border-radius: 10px;

  }

  .centralize {
    margin: auto;
    display: flex; /* Enable flexbox for horizontal centering */
    justify-content: center; /* Horizontally center content within the element */
    align-items: center; /* Vertically center content within the element (optional) */
  }

  .custom-navbar {
    background-color: transparent;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}

.custom-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.custom-form .form-control {
    flex-grow: 1;
    margin-right: 10px;
}

.custom-form .btn-color {
    flex-shrink: 0;
}


.custom-btn-group {
  text-align: right; /* Alinha o conteúdo à direita */
  margin-top: 10px; /* Adiciona um espaço acima do botão */
}

.red {
  background-color: rgb(175, 0, 0);
}

.float-btn {
  float: right;
}


/* style.css */
.flash-messages {
  margin: 20px 0;
}

.alert {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #721c24;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.animal-detail-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label-animal-detail-page {
    margin-top: 10px;
}



.btn-animal-detail-page {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3a9ca5;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #2a7a85;
}

.section{
  display: flex;
  gap: 10px;
  align-items: center;
}
.section-left{
  width: 40%;
}
.section-right{
 
  width: 70%;
}
.animal-page-content{
  text-align: center; 
  padding: 10%; 
  box-sizing: border-box;
}

.animal-page-content textarea {
  display: block; 
  margin: 0 auto; 
  resize: none;
}

.no-resize{
  resize: none;
}