{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="container-global">

  <div class="section">
    <div class="section-left">
        <div class="animal-page-content">

            <form>
            
              <h3>Informações do Animal</h3>
                  <label for="name"><strong>Nome do Animal:</strong> {{ animal.nome }}</label><br>
                  <label for="weight"><strong>Peso:</strong> {{ animal.peso_aproximado }} kg</label><br>
                  <label for="age"><strong>Idade:</strong> {{ animal.idade_aproximado }} anos</label><br>
                  <label for="species"><strong>Espécie:</strong> {{ animal.especie }}</label><br>
                  <label for="sex"><strong>Sexo:</strong> {{ animal.sexo }}</label><br>
                  <button  type="button" data-bs-toggle="modal" data-bs-target="#editar-animal" class="btn btn-primary btn-block btn-color"> Editar</button>


            </form>
        </div>
    </div>

    <div class="section-right">
        <div class="animal-page-content">

            <h2>Histórico</h2>
            <div class="consultas">
                {% if consulta %}
                    <div class="accordion" id="accordionExample">
                        {% for cons in consulta %}
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="heading{{ loop.index }}">
                            <button class="accordion-button {% if loop.index > 1 %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="{% if loop.index == 1 %}true{% else %}false{% endif %}" aria-controls="collapse{{ loop.index }}">
                             Consulta data: {{ cons.data }}
                            </button>
                          </h2>
                          <div id="collapse{{ loop.index }}" class="accordion-collapse collapse {% if loop.index == 1 %}show{% endif %}" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong>Veterinário</strong>: {{ cons.veterinario }}
                              <strong>Sintomas</strong>: {{ cons.sintomas }}
                              <br>
                              <strong>Procedimento</strong>: {{ cons.procedimento }}
                              <br>
                              <strong>Medicamentos</strong>: {{ cons.medicacao }}
                              <br>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                {% else %}
                    <p>Nenhuma consulta registrada.</p>
                {% endif %}
                
                <button type="button" class="btn btn-primary btn-block btn-color" data-bs-toggle="modal" data-bs-target="#novaConsultaModal">
                  Cadastrar nova consulta
              </button>

            </div>
        </div>
    </div>
  </div>

</div>


<!-- Modal nova consulta -->
<div class="modal fade" id="novaConsultaModal" tabindex="-1" aria-labelledby="novaConsultaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="novaConsultaModalLabel">Cadastrar Nova Consulta</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form action="/cadastrar-consulta" method="POST">
                  <div class="mb-3">
                      <label for="veterinario" class="form-label">Veterinário</label>
                      <input type="text" class="form-control" id="veterinario" name="veterinario" required>
                  </div>
                  <div class="mb-3">
                      <label for="sintomas" class="form-label">Sintomas</label>
                      <textarea class="form-control no-resize" id="sintomas" name="sintomas" rows="3" required></textarea>
                  </div>
                  <div class="mb-3">
                      <label for="procedimento" class="form-label">Procedimento</label>
                      <textarea class="form-control no-resize" id="procedimento" name="procedimento" rows="3" required></textarea>
                  </div>
                  <div class="mb-3">
                      <label for="medicacao" class="form-label">Medicamentos</label>
                      <textarea type="text" class="form-control no-resize" id="medicacao" name="medicacao"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Salvar</button>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- Modal Editar Animal -->
<div class="modal fade" id="editar-animal" tabindex="-1" aria-labelledby="editar-animalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <!-- Cabeçalho do Modal -->
          <div class="modal-header">
              <h5 class="modal-title" id="editar-animalLabel">Editar Informações do Animal</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <!-- Corpo do Modal -->
          <div class="modal-body">
              <form action="/editar-animal" method="POST">
                  <div class="mb-3">
                      <label for="nomeAnimal" class="form-label">Nome do Animal</label>
                      <input type="text" class="form-control" id="nomeAnimal" name="nomeAnimal" value="{{ animal.nome }}" required>
                  </div>
                  <div class="mb-3">
                      <label for="pesoAnimal" class="form-label">Peso Aproximado (kg)</label>
                      <input type="number" step="0.1" class="form-control" id="pesoAnimal" name="pesoAnimal" value="{{ animal.peso_aproximado }}" required>
                  </div>
                  <div class="mb-3">
                      <label for="idadeAnimal" class="form-label">Idade Aproximada (anos)</label>
                      <input type="number" class="form-control" id="idadeAnimal" name="idadeAnimal" value="{{ animal.idade_aproximado }}" required>
                  </div>
                  <div class="mb-3">
                      <label for="especieAnimal" class="form-label">Espécie</label>
                      <input type="text" class="form-control" id="especieAnimal" name="especieAnimal" value="{{ animal.especie }}" required>
                  </div>
                  <div class="mb-3">
                      <label for="sexoAnimal" class="form-label">Sexo</label>
                      <select class="form-select" id="sexoAnimal" name="sexoAnimal" required>
                          <option value="Macho" {% if animal.sexo == 'Macho' %}selected{% endif %}>Macho</option>
                          <option value="Fêmea" {% if animal.sexo == 'Fêmea' %}selected{% endif %}>Fêmea</option>
                      </select>
                  </div>

                  <!-- Botão de submissão dentro do formulário -->
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                      <button type="submit" class="btn btn-primary">Salvar mudanças</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>


{% endblock content %}
