{% extends "base.html" %}

{% block content %}

<div class="container-global-cadastro">
    <form class="row g-3" action="" method="POST">
      {{ cadastro_animal.hidden_tag() }}
        <div class="form-signin">
        <div class="col-12">
          <label for="inputEmail4" class="form-label">Nome</label>
          {{cadastro_animal.nome_animal(class='form-control', id='inputEmail4')}}

        </div>
        <div class="row">
        <div class="col-md-6">
          <label  class="form-label">Peso</label>
          {{cadastro_animal.peso(class='form-control', placeholder='Peso aproximado', step='0.1')}}
          
        </div>
        <div class="col-md-6">

          <label for="inputidade" class="form-label">Idade</label>
          {{ cadastro_animal.idade(class='form-control', placeholder='Idade aproximada', type='number', required=True) }}

        </div>
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">ID Tutor </label>
          <label for="inputAddress2" class="form-control">{{ info }}</label>
          {% if not hide_id_tutor %}
          {{cadastro_animal.id_tutor(value=info, class='form-control')}}
          {% endif %}
                
        </div>
      
        <div class="row">

        <div class="col-md-6">
            <label for="inputState" class="form-label">Sexo</label>
            {{ cadastro_animal.sexo(class='form-select', id='inputState', choices=[('', 'Escolha...'), ('macho'), ('femea')]) }}
         
          
        </div>
        
        <div class="col-md-6">
        <label for="inputState" class="form-label">Espécie</label>
        {{ cadastro_animal.raca(class='form-select', id='inputState', choices=[('', 'Escolha...'), ('cachorro'), ('gato')]) }}

            
        </div>
        </div>
        <button class="btn btn-primary btn-block btn-color" type="submit">Cadastrar</button>
        

        </div>
        </div>
      </form>
</div>



{% endblock content %}