{% extends "base.html" %}


{% block content %}

<div class="container-global-grid">
    <div class="perfil-tutor">

            
<h1>
    {{ tutor.nome}} 
</h1>


<label for="" class="group-form">ID: </label>
<label for="" class="group-form">{{ tutor.id }}</label>

<br>

<label for="" class="group-form">Nome: </label>
<label for="" class="group-form">{{ tutor.nome }}</label>
<br>


<label for="" class="group-form">CPF: </label>
<label for="" class="group-form">{{ tutor.cpf }}</label>

<br>


<label for="" class="group-form">TEL: </label>
<label for="" class="group-form">{{ tutor.tel }}</label>

<br>

<label for="" class="group-form">Endereço: </label>
<label for="" class="group-form">{{ tutor.endereco }}</label>

</div>
    

<div class="detalhamento-animal">
    <div class="detalhamento-animal">
        {% if animais %}
            <table class="table">

        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Peso</th>
                <th>Sexo</th>
                <th>Idade</th>
                <th>Espécie</th>
                
            </tr>
        </thead>
        <tbody>
            {% for animal in animais %}
            <tr>
                <td>{{ animal.animal_id }}</a></td>
                <td><a href="{{ url_for('show_animal_detail', info=tutor.id, info_animal_id=animal.animal_id) }}">{{ animal.nome }}</a></td>
                <td>{{ animal.peso_aproximado }}</td>
                <td>{{ animal.sexo }}</a></td>
                <td>{{ animal.idade_aproximado }}</td>
                <td>{{ animal.especie }}</td>
                
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    <div class="centralize">

        <a href="{{ url_for('cadastramento_animal', info=tutor.id) }}" class="btn btn-primary btn-color">Cadastrar animais</a>
    </div>
        {% else %}
        <table class="table-color">

            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Peso</th>
                    <th>Sexo</th>
                    <th>Idade</th>
                    <th>Espécie</th>
                    
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>vazio</td>
                    <td>vazio</td>
                    <td>vazio</td>
                    <td>vazio</td>
                    <td>vazio</td>
                    <td>vazio</td>
                    
                    
                </tr>
                
                
            </tbody>
        </table>
        <div class="centralize">
            <a href="{{ url_for('cadastramento_animal', info=tutor.id) }}" class="btn btn-primary btn-color">Cadastrar animais</a>
        </div>
        

            {% endif %}
    </div>
    
 
    
    <div class="float-btn btn-group custom-btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-primary btn-color" href="#">Editar tutor</a>
        <form action="{{ url_for('remover_tutor', info=tutor.id) }}" method="post" style="display:inline;" onsubmit="return confirm('Você tem certeza que deseja remover este tutor?');">
            <button type="submit" class="btn btn-primary btn-color red">Remover Tutor</button>
        </form>
    </div>
    


    

</div>
{% endblock content %}