{% extends "base.html" %}


{% block content %}

<div class="container-global-grid">
    <div class="perfil-tutor">

            
<h1>
    {{ tutor.nome}} 
</h1>


<label for="" class="group-form">ID: </label>
<label for="" class="group-form">{{ tutor.id }}</label>

<br>

<label for="" class="group-form">Nome: </label>
<label for="" class="group-form">{{ tutor.nome }}</label>
<br>


<label for="" class="group-form">CPF: </label>
<label for="" class="group-form">{{ tutor.cpf }}</label>

<br>


<label for="" class="group-form">TEL: </label>
<label for="" class="group-form">{{ tutor.tel }}</label>

<br>

<label for="" class="group-form">Endereço: </label>
<label for="" class="group-form">{{ tutor.endereco }}</label>

</div>
    

<div class="detalhamento-animal">
    <div class="detalhamento-animal">
        {% if animais %}
            <table class="table-color table-striped">

        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Peso</th>
                <th>Sexo</th>
                <th>Idade</th>
                <th>Espécie</th>
                
            </tr>
        </thead>
        <tbody>
            {% for animal in animais %}
            <tr>
                <td>{{ animal.animal_id }}</a></td>
                <td><a href="{{ url_for('show_animal_detail', info=tutor.id, info_animal_id=animal.animal_id) }}">{{ animal.nome }}</a></td>
                <td>{{ animal.peso_aproximado }}</td>
                <td>{{ animal.sexo }}</a></td>
                <td>{{ animal.idade_aproximado }}</td>
                <td>{{ animal.especie }}</td>
                
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    <div class="centralize">

        <a href="{{ url_for('cadastramento_animal', info=tutor.id) }}" class="btn btn-primary btn-color">Cadastrar animais</a>
    </div>
        {% else %}
<div class="|">
    
            <table class="table-color table-striped">
    
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Peso</th>
                        <th>Sexo</th>
                        <th>Idade</th>
                        <th>Espécie</th>
    
                    </tr>
                </thead>
                <tbody>
    
                    <tr>
                        <td>vazio</td>
                        <td>vazio</td>
                        <td>vazio</td>
                        <td>vazio</td>
                        <td>vazio</td>
                        <td>vazio</td>
    
    
                    </tr>
    
    
                </tbody>
            </table>
</div>

        <div class="centralize">
            <a href="{{ url_for('cadastramento_animal', info=tutor.id) }}" class="btn btn-primary btn-color">Cadastrar animais</a>
        </div>
        

            {% endif %}
    </div>
    
 
    
    <div class="float-btn btn-group custom-btn-group" role="group" aria-label="Basic example">
        <button class="btn btn-primary btn-color" data-bs-toggle="modal" data-bs-target="#editModal" 
                onclick="populateModal('{{ tutor.nome }}', '{{ tutor.cpf }}', '{{ tutor.tel }}', '{{ tutor.endereco }}')">Editar tutor</button>
        <form action="{{ url_for('remover_tutor', info=tutor.id) }}" method="post" style="display:inline;" 
              onsubmit="return confirm('Você tem certeza que deseja remover este tutor?');">
            <button type="submit" class="btn btn-primary btn-color red">Remover Tutor</button>
        </form>
    </div>
    


<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Tutor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="#">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome" value="{{tutor.nome}}" required>
                    </div>
                    <div class="mb-3">
                        <label for="cpf" class="form-label">CPF</label>
                        <input type="text" class="form-control" id="cpf" name="cpf" value="{{tutor.cpf}}" required>
                    </div>
                    <div class="mb-3">
                        <label for="tel" class="form-label">Telefone</label>
                        <input type="text" class="form-control" id="tel" name="tel" value="{{tutor.tel}}" required>
                    </div>
                    <div class="mb-3">
                        <label for="endereco" class="form-label">Endereço</label>
                        <input type="text" class="form-control" id="endereco" name="endereco" value="{{tutor.endereco}}" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar alterações</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    

</div>
{% endblock content %}