{% extends "base.html" %}

{% block content %}

<div class="container">
    <!-- Bloco para exibir mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

<div class="container-global">
    <nav class="navbar navbar-light bg-light custom-navbar">
        <div class="container-fluid">
            <form class="d-flex custom-form" method="GET" action="{{ url_for('index') }}">
                <input class="form-control" type="text" name="search" id="search" placeholder="Pesquisar por Nome ou CPF">
                <button type="submit" class="btn btn-secondary btn-color">Pesquisar</button>
            </form>
        </div>
    </nav>
<br>    
    
<div class="btn-group custom-btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-secondary btn-color" href="{{url_for('tutor')}}">Adicionar novo tutor</a>
</div>


    <!-- Formulário de Pesquisa -->

    <div class="table-container">
        <table class="table-color">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Tel</th>
                    <th>Endereço</th>
                </tr>
            </thead>
            <tbody>
                {% for tutor in tutores %}
                <tr>
                    <td>{{ tutor.id }}</td>
                    <td><a href="{{ url_for('detalhamento', info=tutor.id) }}">{{ tutor.nome }}</a></td>
                    <td>{{ tutor.cpf }}</td>
                    <td>{{ tutor.tel }}</td>
                    <td>{{ tutor.endereco }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            var flashMessages = document.querySelector('.flash-messages');
            if (flashMessages) {
                flashMessages.style.display = 'none';
            }
        }, 5000); // 5000 milissegundos = 5 segundos
    });
</script>
{% endblock content %}

