 <!-- Botão para abrir a sidebar 
 <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
    ☰
</button>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasSidebarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group">
            <li class="list-group-item"><a href="#" class="btn btn-secondary w-100">Início</a></li>
            <li class="list-group-item"><a href="#" class="btn btn-secondary w-100">Animais</a></li>
            <li class="list-group-item"><a href="#" class="btn btn-secondary w-100">Castração</a></li>
            <li class="list-group-item"><a href="#" class="btn btn-secondary w-100">Cadastrar Usuário</a></li>
            <li class="list-group-item"><a href="#" class="btn btn-secondary w-100">Contato</a></li>
        </ul>
    </div>
</div>-->