{% extends "base.html" %}

{% block title %}- Cadastrar tutor {% endblock title %}

{% block content %}
      <div class="container-global-cadastro">
        <div class="container-cadastro-tutor">
          <form action="" method="POST">
            {{ tutores.hidden_tag() }}
            
                <div class="form-signin">
                <label class="form-label" for="inputName"> Nome</label>
                {{ tutores.nome(class='form-control', placeholder='Nome do tutor') }}

                <label class="form-label" for="inputTEL">Telefone</label>
                <input type="tel" class="form-control" id="inputTEL" name="tel" placeholder="(XX) X.XXXX-XXXX" required>
                
                <label class="form-label" for="inputCPF">CPF</label>
                <input type="text" class="form-control" id="inputCPF" name="cpf" placeholder="XXX.XXX.XXX-XX" required>
                
                <label class="form-label" for="inputCEP">CEP</label>
                <input type="text" class="form-control" id="inputCEP" name="cep" placeholder="12345678" required>

                <label class="form-label" for="inputRua">Rua</label>
                {{tutores.rua(class='form-control', placeholder='R. nome da rua, XXX')}}
                
                <label class="form-label" for="inputCPF">Bairro</label>
                <input type="text" class="form-control" id="inputBairro" name="bairro" placeholder="Nome do Bairro">

                <label class="form-label" for="inputCPF">Cidade</label>
                <input type="text" class="form-control" id="inputCidade" name="cidade" placeholder="Nome da Cidade">

              </div>
          
                <button class="btn btn-primary btn-block btn-color" type="submit">Cadastrar</button>
            
              <!-- Submit button -->
              
              </form>
          </div>
          <div class="container-cadastro-img">
            <img src="{{url_for('static', filename='img/tutor-cadastro-450-be.png')}}" alt="imagem de um tutor segurando um cachorro">
          </div>
 

          <script>
            $(document).ready(function() {
              // Aplicar máscara de telefone
              $('#inputTEL').mask('(00)00000-0000');
          
              // Aplicar máscara de CPF
              $('#inputCPF').mask('000.000.000-00', {reverse: true});
            });
          </script>
          
              
    {% endblock content %}


